@import url("http://fonts.googleapis.com/css?family=Numans");
@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");
div.api.container {
  position: fixed;
  top: 50px;
  bottom: 20px;
}
div.api.container h1 {
  font-size: 1.5em;
  margin-left: 20px;
}
div.api.container div.api.index {
  -webkit-box-shadow: 1px 1px 1px 1px #000;
  -moz-box-shadow: 1px 1px 1px 1px #000;
  box-shadow: 1px 1px 1px 1px #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ccc;
  height: 570px;
  padding: 0;
  margin: 0;
}
div.api.container div.api.index .content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
div.api.container div.api.index .content ul {
  margin: 0;
}
div.api.container div.api.index .content li {
  list-style-type: none;
  padding: 0px 0px;
}
div.api.container div.api.index .content li a:link,
div.api.container div.api.index .content li a:visited {
  color: #000;
}
div.api.container div.api.index .content li a:hover,
div.api.container div.api.index .content li a:active {
  color: #00f;
}
div.api.container div.api.index .content li.type {
  padding: 10px 0px 0px 0px;
}
div.api.container div.api.index .content li.type.active {
  font-weight: bold;
}
div.api.container div.api.descriptions {
  height: 570px;
}
div.api.container div.api.descriptions .content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
div.api.container div.api.descriptions .content .wrapper {
  margin-bottom: 520px;
}
div.api.container div.api.descriptions .content h2 {
  font-size: 1.2em;
  border-top: 2px solid #808080;
  margin-top: 10px;
}
div.api.container div.api.descriptions .content h2 div {
  font-weight: normal;
  font-size: 0.8em;
}
div.api.container div.api.descriptions .content h3 {
  font-size: 1.1em;
  border-top: 1px groove #808080;
}
div.api.container div.api.descriptions .content h3 div {
  font-weight: normal;
  font-size: 0.8em;
}
div.api.container div.api.descriptions .content h4 {
  font-size: 1.1em;
  border-top: 1px dashed #b0c4de;
}
div.api.container div.api.descriptions .content span.type {
  font-style: italic;
  font-size: 12px;
  color: #999;
}
div.api.container div.api.descriptions .content h1 li span,
div.api.container div.api.descriptions .content h2 li span,
div.api.container div.api.descriptions .content h3 li span,
div.api.container div.api.descriptions .content h4 li span {
  font-weight: normal;
}
