@import '../vendor/stylesheets/animate-custom.css';
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
div.knockback_logo {
  position: relative;
  z-index: 100;
  font-size: 70px;
  padding: 20px 0px 0px;
}
div.knockback_logo .lock {
  line-height: 1em;
}
div.knockback_logo .logo {
  float: left;
  font-size: 100%;
  margin: 5px 21px;
}
div.knockback_logo .logo .part {
  display: block;
}
div.knockback_logo .logo .part img {
  height: 27px;
  display: block;
}
div.knockback_logo .logo .left,
div.knockback_logo .logo .right {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
div.knockback_logo h1 {
  margin: 0px;
  padding: 0px;
  float: left;
  font-size: 100%;
  font-weight: normal;
}
div.knockback_logo .knock {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
div.knockback_logo .magic {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
div.knockback_logo .back {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
div.knockback_logo h2 {
  clear: both;
  font-size: 20px;
  margin: 1ex 0;
  font-weight: normal;
  color: #555;
  margin-left: 90px;
}
div.knockback_credits {
  font-size: 12px;
  border-top: 2px solid #808080;
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
div.knockback_credits p:last-child {
  font-size: 0.8em;
  margin-top: 1ex;
}
div#script_language {
  position: absolute;
  z-index: 200;
  top: 0px;
  right: 0px;
  padding: 8px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
}
div#script_language .separator {
  margin: 0px;
  padding: 0px;
  margin-left: 1ex;
  float: left;
}
div#script_language .separator .label {
  margin: 0 1ex;
}
div#script_language .selection {
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  border-color: #333 #666 #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #777), color-stop(1, #999));
  background: -webkit-linear-gradient(top, #777 0%, #999 100%);
  background: -moz-linear-gradient(top, #777 0%, #999 100%);
  background: -o-linear-gradient(top, #777 0%, #999 100%);
  background: -ms-linear-gradient(top, #777 0%, #999 100%);
  background: linear-gradient(top, #777 0%, #999 100%);
}
div#script_language .selection .option {
  display: inline-block;
  vertical-align: middle;
}
div#script_language .selection .option input[type='radio'] {
  display: none;
}
div#script_language .selection .option input[type='radio'] + label {
  display: inline-block;
  background: none transparent;
  margin: -1px -1px 0;
  padding: 0.5ex 1ex;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
div#script_language .selection .option input[type='radio']:checked + label {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #333));
  background: -webkit-linear-gradient(top, #666 0%, #333 100%);
  background: -moz-linear-gradient(top, #666 0%, #333 100%);
  background: -o-linear-gradient(top, #666 0%, #333 100%);
  background: -ms-linear-gradient(top, #666 0%, #333 100%);
  background: linear-gradient(top, #666 0%, #333 100%);
  color: #fff;
  text-shadow: 0px 1px 0px rgba(255,255,255,0), 0px -1px 0px #000;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
  cursor: default;
}
