@import url("http://fonts.googleapis.com/css?family=Numans");
@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");
header.page {
  padding: 0;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
  text-decoration: underline;
}
h3 {
  font-size: 1.1em;
}
li {
  font-size: 14px;
}
p {
  font-size: 14px;
}
