@import url("http://fonts.googleapis.com/css?family=Numans");
@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");
header.page {
  padding: 0;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
  text-decoration: underline;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1em;
  font-style: italic;
}
h1 div,
h1 p,
h1 span,
h2 div,
h2 p,
h2 span,
h3 div,
h3 p,
h3 span,
section div,
section p,
section span {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}
h1 div,
h2 div,
h3 div,
section div {
  padding: 0;
}
ol li {
  font-size: 14px;
}
ul li {
  font-size: 14px;
  font-weight: normal;
}
ol li ul li,
ul li ul li {
  font-size: 14px;
  font-weight: normal;
}
p {
  font-size: 0.8em;
}
img.screen_shot {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
